# Individual Project #2
## Elijah Sartin
## 0.1.0
## Spring 2022 Section 01

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("weather_2012.csv")

In [3]:
# first 5 rows
df.head()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog

In [4]:
# last 5 rows
df.tail()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
8779,2012-12-31 19:00:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,2012-12-31 20:00:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,2012-12-31 21:00:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,2012-12-31 22:00:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,2012-12-31 23:00:00,0.0,-2.1,86,30,11.3,99.89,Snow

In [5]:
# 5 random rows
df.sample(5)

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
4979,2012-07-26 11:00:00,21.9,17.5,76,7,24.1,99.93,Mostly Cloudy
6001,2012-09-07 01:00:00,18.7,14.5,77,4,25.0,100.62,Clear
3040,2012-05-06 16:00:00,16.6,-2.7,27,7,48.3,101.60,Mainly Clear
8644,2012-12-26 04:00:00,-13.1,-14.7,88,6,25.0,102.55,Clear
4216,2012-06-24 16:00:00,26.4,8.7,33,19,24.1,100.61,Cloudy

In [7]:
# list columns
columns=df.columns
columns

Index(['Date/Time', 'Temp (C)', 'Dew Point Temp (C)', 'Rel Hum (%)',
       'Wind Spd (km/h)', 'Visibility (km)', 'Stn Press (kPa)', 'Weather'],
      dtype='object')

In [8]:
# rename columns to more usable names
df.columns=['date_time', 'temp_c', 'dew_point', 'relative_humidity', 'wind_speed', 'visibility', 'pressure', 'weather']

In [9]:
# get basic statistics for each column
df.describe()

,temp_c,dew_point,relative_humidity,wind_speed,visibility,pressure
count,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000
mean,8.798144,2.555294,67.431694,14.945469,27.664447,101.051623
std,11.687883,10.883072,16.918881,8.688696,12.622688,0.844005
min,-23.300000,-28.500000,18.000000,0.000000,0.200000,97.520000
25%,0.100000,-5.900000,56.000000,9.000000,24.100000,100.560000
50%,9.300000,3.300000,68.000000,13.000000,25.000000,101.070000
75%,18.800000,11.800000,81.000000,20.000000,25.000000,101.590000
max,33.000000,24.400000,100.000000,83.000000,48.300000,103.650000

In [10]:
# conversion function
def c_to_f(n):
    f = (n*(9/5))+32
    return f

In [11]:
c_to_f(5.2)

41.36

In [12]:
# create new column w temp in fahrenheit
df['temp_f']=list(map(lambda x: c_to_f(x), df['temp_c']))

In [13]:
# test new column
df.head()

,date_time,temp_c,dew_point,relative_humidity,wind_speed,visibility,pressure,weather,temp_f
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog,28.76
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog,28.76
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog",28.76
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog",29.30
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog,29.30

In [14]:
# rearrange columns
df=df[['date_time', 'temp_f', 'temp_c', 'dew_point', 'relative_humidity', 'wind_speed', 'visibility', 'pressure', 'weather']]

In [15]:
# test rearrange
df.head()

,date_time,temp_f,temp_c,dew_point,relative_humidity,wind_speed,visibility,pressure,weather
0,2012-01-01 00:00:00,28.76,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,28.76,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,28.76,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,29.30,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,29.30,-1.5,-3.3,88,7,4.8,101.23,Fog

In [16]:
# display types of data
df.dtypes

date_time             object
temp_f               float64
temp_c               float64
dew_point            float64
relative_humidity      int64
wind_speed             int64
visibility           float64
pressure             float64
weather               object
dtype: object

In [17]:
# convert date_time column to datetime
df.date_time=pd.to_datetime(df.date_time)

In [18]:
# test success
df.dtypes

date_time            datetime64[ns]
temp_f                      float64
temp_c                      float64
dew_point                   float64
relative_humidity             int64
wind_speed                    int64
visibility                  float64
pressure                    float64
weather                      object
dtype: object

In [19]:
# create series
monthly_avg = df.groupby(pd.PeriodIndex(df['date_time'], freq="M"))['temp_f'].mean()

In [20]:
monthly_avg.head()

date_time
2012-01    18.731290
2012-02    24.395000
2012-03    37.618226
2012-04    44.616750
2012-05    61.227984
Freq: M, Name: temp_f, dtype: float64

In [21]:
# convert series to dataframe
monthly_avg = monthly_avg.to_frame().reset_index()

In [22]:
monthly_avg.head()

  date_time     temp_f
0   2012-01  18.731290
1   2012-02  24.395000
2   2012-03  37.618226
3   2012-04  44.616750
4   2012-05  61.227984

In [23]:
# create function
def to_month(x):
    y = x + 1
    return y

In [24]:
# create column
monthly_avg['month'] = to_month(monthly_avg.index)

In [25]:
monthly_avg.head()

  date_time     temp_f  month
0   2012-01  18.731290      1
1   2012-02  24.395000      2
2   2012-03  37.618226      3
3   2012-04  44.616750      4
4   2012-05  61.227984      5

In [26]:
# reorder columns
monthly_avg=monthly_avg[['month','temp_f']]

In [27]:
monthly_avg.head()

   month     temp_f
0      1  18.731290
1      2  24.395000
2      3  37.618226
3      4  44.616750
4      5  61.227984

In [28]:
# already done with reset index previously

In [29]:
# create dictionary
def num_to_word(x):
    months={1:'January',
            2:'February',
           3:'March',
           4:'April',
           5:'May',
           6:'June',
           7:'July',
           8:'August',
           9:'September',
           10:'October',
           11:'November',
           12:'December'}
    return months[x]

In [30]:
# check dictionary
num_to_word(6)

'June'

In [31]:
# convert months to their names
monthly_avg['month']=list(map(lambda x: num_to_word(x), monthly_avg['month']))

In [32]:
# test months
monthly_avg.head()

      month     temp_f
0   January  18.731290
1  February  24.395000
2     March  37.618226
3     April  44.616750
4       May  61.227984

In [33]:
# create series
hourly_avg = df.groupby(pd.PeriodIndex(df['date_time'], freq="H"))['temp_f'].mean()

In [34]:
# test series
hourly_avg.head()

date_time
2012-01-01 00:00    28.76
2012-01-01 01:00    28.76
2012-01-01 02:00    28.76
2012-01-01 03:00    29.30
2012-01-01 04:00    29.30
Freq: H, Name: temp_f, dtype: float64

In [35]:
# rename index
hourly_avg.index.name='Hour'

In [36]:
hourly_avg.tail()

Hour
2012-12-31 19:00    32.18
2012-12-31 20:00    32.36
2012-12-31 21:00    31.10
2012-12-31 22:00    31.64
2012-12-31 23:00    32.00
Freq: H, Name: temp_f, dtype: float64

In [37]:
def civ_time(x):
    mil_time={'00:00':'12:00AM',
             '01:00':'1:00AM',
             '02:00':'2:00AM',
             '03:00':'3:00AM',
             '04:00':'4:00AM',
             '05:00':'5:00AM',
             '06:00':'6:00AM',
             '07:00':'7:00AM',
             '08:00':'8:00AM',
             '09:00':'9:00AM',
             '10:00':'10:00AM',
             '11:00':'11:00AM',
             '12:00':'12:00PM',
             '13:00':'1:00PM',
             '14:00':'2:00PM',
             '15:00':'3:00PM',
             '16:00':'4:00PM',
             '17:00':'5:00PM',
             '18:00':'6:00PM',
             '19:00':'7:00PM',
             '20:00':'8:00PM',
             '21:00':'9:00PM',
             '22:00':'10:00PM',
             '23:00':'11:00PM',
             '24:00':'12:00PM',}
    return mil_time[x]

In [38]:
hourly_avg.dtypes

dtype('float64')

In [39]:
hourly_avg = hourly_avg.to_frame()

In [40]:
hourly_avg.head()

                  temp_f
Hour
2012-01-01 00:00   28.76
2012-01-01 01:00   28.76
2012-01-01 02:00   28.76
2012-01-01 03:00   29.30
2012-01-01 04:00   29.30

In [41]:
monthly_avg['month']=list(map(lambda x: num_to_word(x), monthly_avg['month']))

KeyError: 'January'

In [42]:
# could not figure number 17 out

In [43]:
# count of various weather types
df['weather'].groupby(df['weather']).count()

weather
Clear                                      1326
Cloudy                                     1728
Drizzle                                      41
Drizzle,Fog                                  80
Drizzle,Ice Pellets,Fog                       1
Drizzle,Snow                                  2
Drizzle,Snow,Fog                             15
Fog                                         150
Freezing Drizzle                              7
Freezing Drizzle,Fog                          6
Freezing Drizzle,Haze                         3
Freezing Drizzle,Snow                        11
Freezing Fog                                  4
Freezing Rain                                14
Freezing Rain,Fog                             4
Freezing Rain,Haze                            2
Freezing Rain,Ice Pellets,Fog                 1
Freezing Rain,Snow Grains                     1
Haze                                         16
Mainly Clear                               2106
Moderate Rain,Fog                             1
Moderate Snow                                 4
Moderate Snow,Blowing Snow                    2
Mostly Cloudy                              2069
Rain                                        306
Rain Showers                                188
Rain Showers,Fog                              1
Rain Showers,Snow Showers                     2
Rain,Fog                                    116
Rain,Haze                                     3
Rain,Ice Pellets                              1
Rain,Snow                                    18
Rain,Snow Grains                              1
Rain,Snow,Fog                                 1
Rain,Snow,Ice Pellets                         4
Snow                                        390
Snow Pellets                                  1
Snow Showers                                 60
Snow Showers,Fog                              4
Snow,Blowing Snow                            19
Snow,Fog                                     37
Snow,Haze                                     5
Snow,Ice Pellets                              6
Thunderstorms                                 2
Thunderstorms,Heavy Rain Showers              1
Thunderstorms,Moderate Rain Showers,Fog       1
Thunderstorms,Rain                            3
Thunderstorms,Rain Showers                   16
Thunderstorms,Rain Showers,Fog                3
Thunderstorms,Rain,Fog                        1
Name: weather, dtype: int64

In [44]:
#create list of all conditions
conditions=list(set(i for i in df.weather))

In [45]:
conditions

['Drizzle,Snow,Fog',
 'Freezing Rain',
 'Freezing Fog',
 'Thunderstorms,Rain',
 'Mostly Cloudy',
 'Thunderstorms,Moderate Rain Showers,Fog',
 'Freezing Rain,Snow Grains',
 'Drizzle,Snow',
 'Snow Showers',
 'Haze',
 'Thunderstorms,Heavy Rain Showers',
 'Thunderstorms,Rain Showers,Fog',
 'Rain,Snow,Ice Pellets',
 'Freezing Rain,Ice Pellets,Fog',
 'Rain,Snow Grains',
 'Snow,Ice Pellets',
 'Thunderstorms,Rain Showers',
 'Snow Showers,Fog',
 'Snow,Haze',
 'Fog',
 'Freezing Drizzle',
 'Drizzle,Fog',
 'Snow',
 'Drizzle',
 'Freezing Drizzle,Snow',
 'Snow Pellets',
 'Rain Showers',
 'Thunderstorms',
 'Freezing Drizzle,Fog',
 'Rain,Snow,Fog',
 'Mainly Clear',
 'Moderate Snow',
 'Rain,Haze',
 'Freezing Drizzle,Haze',
 'Freezing Rain,Haze',
 'Snow,Fog',
 'Rain,Ice Pellets',
 'Clear',
 'Thunderstorms,Rain,Fog',
 'Snow,Blowing Snow',
 'Freezing Rain,Fog',
 'Drizzle,Ice Pellets,Fog',
 'Cloudy',
 'Rain',
 'Rain Showers,Fog',
 'Rain,Fog',
 'Rain,Snow',
 'Moderate Rain,Fog',
 'Moderate Snow,Blowing Snow',
 'Rain Showers,Snow Showers']

In [47]:
list1=list()
for x in conditions:
    list1+=x.split(sep=',')
set1=set(x for x in list1)
uniqueconditions=list(set1)

In [49]:
# show unique weather conditions
uniqueconditions

['Freezing Rain',
 'Snow Grains',
 'Freezing Fog',
 'Mostly Cloudy',
 'Haze',
 'Snow Showers',
 'Moderate Rain Showers',
 'Fog',
 'Freezing Drizzle',
 'Snow',
 'Drizzle',
 'Snow Pellets',
 'Rain Showers',
 'Thunderstorms',
 'Mainly Clear',
 'Moderate Snow',
 'Blowing Snow',
 'Clear',
 'Cloudy',
 'Ice Pellets',
 'Rain',
 'Moderate Rain',
 'Heavy Rain Showers']

In [53]:
# arranging alphabetically
uniqueconditions=sorted(uniqueconditions)

In [54]:
uniqueconditions

['Blowing Snow',
 'Clear',
 'Cloudy',
 'Drizzle',
 'Fog',
 'Freezing Drizzle',
 'Freezing Fog',
 'Freezing Rain',
 'Haze',
 'Heavy Rain Showers',
 'Ice Pellets',
 'Mainly Clear',
 'Moderate Rain',
 'Moderate Rain Showers',
 'Moderate Snow',
 'Mostly Cloudy',
 'Rain',
 'Rain Showers',
 'Snow',
 'Snow Grains',
 'Snow Pellets',
 'Snow Showers',
 'Thunderstorms']

In [55]:
columns

Index(['Date/Time', 'Temp (C)', 'Dew Point Temp (C)', 'Rel Hum (%)',
       'Wind Spd (km/h)', 'Visibility (km)', 'Stn Press (kPa)', 'Weather'],
      dtype='object')

In [56]:
# renaming columns
df.columns=['Date/Time', 'Tenp(F)', 'Temp (C)', 'Dew Point Temp (C)', 'Rel Hum (%)',
       'Wind Spd (km/h)', 'Visibility (km)', 'Stn Press (kPa)', 'Weather']

In [57]:
# checking columns
df.head()

,Date/Time,Tenp(F),Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,28.76,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,28.76,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,28.76,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,29.30,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,29.30,-1.5,-3.3,88,7,4.8,101.23,Fog

In [58]:
df.to_csv('weather_2012_new.csv',index=False)

In [59]:
monthly_avg.to_csv('monthly_avg.csv',index=False)

In [60]:
hourly_avg.to_csv('hourly_avg.csv',index=True)