# Individual Project #2
## Elijah Sartin
## 0.1.0
## Spring 2022 Section 01

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("weather_2012.csv")

In [4]:
# first 5 rows
df.head()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog

In [5]:
# last 5 rows
df.tail()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
8779,2012-12-31 19:00:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,2012-12-31 20:00:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,2012-12-31 21:00:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,2012-12-31 22:00:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,2012-12-31 23:00:00,0.0,-2.1,86,30,11.3,99.89,Snow

In [6]:
# 5 random rows
df.sample(5)

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
3043,2012-05-06 19:00:00,14.4,-1.8,33,9,48.3,101.56,Mostly Cloudy
4948,2012-07-25 04:00:00,14.5,12.2,86,7,25.0,100.69,Clear
1000,2012-02-11 16:00:00,-10.4,-18.3,52,6,48.3,100.70,Mainly Clear
1330,2012-02-25 10:00:00,-1.7,-3.3,89,32,1.6,98.45,Snow
8260,2012-12-10 04:00:00,-3.3,-4.4,92,28,3.6,100.73,"Freezing Drizzle,Fog"

In [7]:
# list columns
columns=df.columns
columns

Index(['Date/Time', 'Temp (C)', 'Dew Point Temp (C)', 'Rel Hum (%)',
       'Wind Spd (km/h)', 'Visibility (km)', 'Stn Press (kPa)', 'Weather'],
      dtype='object')

In [8]:
# rename columns to more usable names
df.columns=['date_time', 'temp_c', 'dew_point', 'relative_humidity', 'wind_speed', 'visibility', 'pressure', 'weather']

In [9]:
# get basic statistics for each column
df.describe()

,temp_c,dew_point,relative_humidity,wind_speed,visibility,pressure
count,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000
mean,8.798144,2.555294,67.431694,14.945469,27.664447,101.051623
std,11.687883,10.883072,16.918881,8.688696,12.622688,0.844005
min,-23.300000,-28.500000,18.000000,0.000000,0.200000,97.520000
25%,0.100000,-5.900000,56.000000,9.000000,24.100000,100.560000
50%,9.300000,3.300000,68.000000,13.000000,25.000000,101.070000
75%,18.800000,11.800000,81.000000,20.000000,25.000000,101.590000
max,33.000000,24.400000,100.000000,83.000000,48.300000,103.650000

In [10]:
# conversion function
def c_to_f(n):
    f = (n*(9/5))+32
    return f

In [11]:
c_to_f(5.2)

41.36

In [12]:
# create new column w temp in fahrenheit
df['temp_f']=list(map(lambda x: c_to_f(x), df['temp_c']))

In [13]:
# test new column
df.head()

,date_time,temp_c,dew_point,relative_humidity,wind_speed,visibility,pressure,weather,temp_f
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog,28.76
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog,28.76
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog",28.76
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog",29.30
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog,29.30

In [14]:
# rearrange columns
df=df[['date_time', 'temp_f', 'temp_c', 'dew_point', 'relative_humidity', 'wind_speed', 'visibility', 'pressure', 'weather']]

In [15]:
# test rearrange
df.head()

,date_time,temp_f,temp_c,dew_point,relative_humidity,wind_speed,visibility,pressure,weather
0,2012-01-01 00:00:00,28.76,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,28.76,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,28.76,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,29.30,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,29.30,-1.5,-3.3,88,7,4.8,101.23,Fog

In [16]:
# display types of data
df.dtypes

date_time             object
temp_f               float64
temp_c               float64
dew_point            float64
relative_humidity      int64
wind_speed             int64
visibility           float64
pressure             float64
weather               object
dtype: object

In [17]:
# convert date_time column to datetime
df.date_time=pd.to_datetime(df.date_time)

In [18]:
# test success
df.dtypes

date_time            datetime64[ns]
temp_f                      float64
temp_c                      float64
dew_point                   float64
relative_humidity             int64
wind_speed                    int64
visibility                  float64
pressure                    float64
weather                      object
dtype: object

In [19]:
# create series
monthly_avg = df.groupby(pd.PeriodIndex(df['date_time'], freq="M"))['temp_f'].mean()

In [20]:
monthly_avg.head()

date_time
2012-01    18.731290
2012-02    24.395000
2012-03    37.618226
2012-04    44.616750
2012-05    61.227984
Freq: M, Name: temp_f, dtype: float64

In [21]:
# convert series to dataframe
monthly_avg = monthly_avg.to_frame().reset_index()

In [22]:
monthly_avg.head()

  date_time     temp_f
0   2012-01  18.731290
1   2012-02  24.395000
2   2012-03  37.618226
3   2012-04  44.616750
4   2012-05  61.227984

In [23]:
# create function
def to_month(x):
    y = x + 1
    return y

In [24]:
# create column
monthly_avg['month'] = to_month(monthly_avg.index)

In [25]:
monthly_avg.head()

  date_time     temp_f  month
0   2012-01  18.731290      1
1   2012-02  24.395000      2
2   2012-03  37.618226      3
3   2012-04  44.616750      4
4   2012-05  61.227984      5

In [26]:
# reorder columns
monthly_avg=monthly_avg[['month','temp_f']]

In [27]:
monthly_avg.head()

   month     temp_f
0      1  18.731290
1      2  24.395000
2      3  37.618226
3      4  44.616750
4      5  61.227984

In [28]:
# already done with reset index previously

In [29]:
# create dictionary
def num_to_word(x):
    months={1:'January',
            2:'February',
           3:'March',
           4:'April',
           5:'May',
           6:'June',
           7:'July',
           8:'August',
           9:'September',
           10:'October',
           11:'November',
           12:'December'}
    return months[x]

In [30]:
# check dictionary
num_to_word(6)

'June'

In [31]:
# convert months to their names
monthly_avg['month']=list(map(lambda x: num_to_word(x), monthly_avg['month']))

In [32]:
# test months
monthly_avg.head()

      month     temp_f
0   January  18.731290
1  February  24.395000
2     March  37.618226
3     April  44.616750
4       May  61.227984

In [33]:
df.sample(5)

,date_time,temp_f,temp_c,dew_point,relative_humidity,wind_speed,visibility,pressure,weather
517,2012-01-22 13:00:00,11.84,-11.2,-16.0,68,11,8.0,102.86,Haze
1621,2012-03-08 13:00:00,52.70,11.5,5.2,65,20,24.1,99.99,Cloudy
3995,2012-06-15 11:00:00,71.96,22.2,7.9,40,15,48.3,102.35,Mostly Cloudy
2907,2012-05-01 03:00:00,47.84,8.8,3.2,68,15,25.0,101.20,Rain Showers
4013,2012-06-16 05:00:00,57.02,13.9,8.5,70,13,24.1,102.16,Mostly Cloudy

In [39]:
# create filter
hourFilter=df.date_time.dt.hour

In [41]:
# test filter from sample
hourFilter[2907]

3

In [36]:
# create series
hourly_avg=df['temp_f'].groupby(hourFilter).mean()

In [37]:
# test series
hourly_avg

date_time
0     45.623443
1     44.762787
2     43.980820
3     43.325246
4     42.744426
5     42.291967
6     42.859508
7     43.831311
8     45.280656
9     46.987213
10    48.699672
11    50.193770
12    51.541803
13    52.508689
14    53.196721
15    53.391475
16    53.178033
17    52.297705
18    51.181311
19    50.041311
20    48.848197
21    47.851803
22    47.064918
23    46.397049
Name: temp_f, dtype: float64

In [43]:
# name index
hourly_avg.index.name='Hour'

In [44]:
# test index
hourly_avg

Hour
0     45.623443
1     44.762787
2     43.980820
3     43.325246
4     42.744426
5     42.291967
6     42.859508
7     43.831311
8     45.280656
9     46.987213
10    48.699672
11    50.193770
12    51.541803
13    52.508689
14    53.196721
15    53.391475
16    53.178033
17    52.297705
18    51.181311
19    50.041311
20    48.848197
21    47.851803
22    47.064918
23    46.397049
Name: temp_f, dtype: float64

In [45]:
# create dictionary
def civ_time(x):
    mil_time={0:'12:00AM',
             1:'1:00AM',
             2:'2:00AM',
             3:'3:00AM',
             4:'4:00AM',
             5:'5:00AM',
             6:'6:00AM',
             7:'7:00AM',
             8:'8:00AM',
             9:'9:00AM',
             10:'10:00AM',
             11:'11:00AM',
             12:'12:00PM',
             13:'1:00PM',
             14:'2:00PM',
             15:'3:00PM',
             16:'4:00PM',
             17:'5:00PM',
             18:'6:00PM',
             19:'7:00PM',
             20:'8:00PM',
             21:'9:00PM',
             22:'10:00PM',
             23:'11:00PM',
             24:'12:00PM',}
    return mil_time[x]

In [46]:
# convert index
hourly_avg.index=list(map(lambda x: civ_time(x), hourly_avg.index))

In [47]:
hourly_avg

12:00AM    45.623443
1:00AM     44.762787
2:00AM     43.980820
3:00AM     43.325246
4:00AM     42.744426
5:00AM     42.291967
6:00AM     42.859508
7:00AM     43.831311
8:00AM     45.280656
9:00AM     46.987213
10:00AM    48.699672
11:00AM    50.193770
12:00PM    51.541803
1:00PM     52.508689
2:00PM     53.196721
3:00PM     53.391475
4:00PM     53.178033
5:00PM     52.297705
6:00PM     51.181311
7:00PM     50.041311
8:00PM     48.848197
9:00PM     47.851803
10:00PM    47.064918
11:00PM    46.397049
Name: temp_f, dtype: float64

In [48]:
# rename index
hourly_avg.index.name='Hour'

In [49]:
# retest index
hourly_avg

Hour
12:00AM    45.623443
1:00AM     44.762787
2:00AM     43.980820
3:00AM     43.325246
4:00AM     42.744426
5:00AM     42.291967
6:00AM     42.859508
7:00AM     43.831311
8:00AM     45.280656
9:00AM     46.987213
10:00AM    48.699672
11:00AM    50.193770
12:00PM    51.541803
1:00PM     52.508689
2:00PM     53.196721
3:00PM     53.391475
4:00PM     53.178033
5:00PM     52.297705
6:00PM     51.181311
7:00PM     50.041311
8:00PM     48.848197
9:00PM     47.851803
10:00PM    47.064918
11:00PM    46.397049
Name: temp_f, dtype: float64

In [50]:
# count of various weather types
df['weather'].groupby(df['weather']).count()

weather
Clear                                      1326
Cloudy                                     1728
Drizzle                                      41
Drizzle,Fog                                  80
Drizzle,Ice Pellets,Fog                       1
Drizzle,Snow                                  2
Drizzle,Snow,Fog                             15
Fog                                         150
Freezing Drizzle                              7
Freezing Drizzle,Fog                          6
Freezing Drizzle,Haze                         3
Freezing Drizzle,Snow                        11
Freezing Fog                                  4
Freezing Rain                                14
Freezing Rain,Fog                             4
Freezing Rain,Haze                            2
Freezing Rain,Ice Pellets,Fog                 1
Freezing Rain,Snow Grains                     1
Haze                                         16
Mainly Clear                               2106
Moderate Rain,Fog                             1
Moderate Snow                                 4
Moderate Snow,Blowing Snow                    2
Mostly Cloudy                              2069
Rain                                        306
Rain Showers                                188
Rain Showers,Fog                              1
Rain Showers,Snow Showers                     2
Rain,Fog                                    116
Rain,Haze                                     3
Rain,Ice Pellets                              1
Rain,Snow                                    18
Rain,Snow Grains                              1
Rain,Snow,Fog                                 1
Rain,Snow,Ice Pellets                         4
Snow                                        390
Snow Pellets                                  1
Snow Showers                                 60
Snow Showers,Fog                              4
Snow,Blowing Snow                            19
Snow,Fog                                     37
Snow,Haze                                     5
Snow,Ice Pellets                              6
Thunderstorms                                 2
Thunderstorms,Heavy Rain Showers              1
Thunderstorms,Moderate Rain Showers,Fog       1
Thunderstorms,Rain                            3
Thunderstorms,Rain Showers                   16
Thunderstorms,Rain Showers,Fog                3
Thunderstorms,Rain,Fog                        1
Name: weather, dtype: int64

In [51]:
#create list of all conditions
conditions=list(set(i for i in df.weather))

In [52]:
conditions

['Freezing Rain',
 'Thunderstorms,Heavy Rain Showers',
 'Rain,Snow Grains',
 'Drizzle',
 'Thunderstorms,Rain Showers',
 'Thunderstorms,Rain Showers,Fog',
 'Rain Showers,Fog',
 'Moderate Rain,Fog',
 'Freezing Drizzle,Snow',
 'Drizzle,Snow',
 'Rain,Haze',
 'Drizzle,Fog',
 'Snow,Ice Pellets',
 'Thunderstorms,Rain',
 'Moderate Snow,Blowing Snow',
 'Snow,Fog',
 'Rain,Snow,Ice Pellets',
 'Freezing Drizzle',
 'Snow Showers,Fog',
 'Rain Showers',
 'Cloudy',
 'Freezing Rain,Snow Grains',
 'Thunderstorms',
 'Rain',
 'Rain,Snow,Fog',
 'Freezing Drizzle,Fog',
 'Freezing Rain,Haze',
 'Snow,Haze',
 'Freezing Fog',
 'Drizzle,Snow,Fog',
 'Snow,Blowing Snow',
 'Clear',
 'Fog',
 'Rain,Snow',
 'Mainly Clear',
 'Snow',
 'Mostly Cloudy',
 'Freezing Drizzle,Haze',
 'Rain,Ice Pellets',
 'Snow Showers',
 'Freezing Rain,Ice Pellets,Fog',
 'Freezing Rain,Fog',
 'Haze',
 'Thunderstorms,Moderate Rain Showers,Fog',
 'Snow Pellets',
 'Thunderstorms,Rain,Fog',
 'Rain,Fog',
 'Moderate Snow',
 'Drizzle,Ice Pellets,Fog',
 'Rain Showers,Snow Showers']

In [53]:
# split items with commas and remove duplicates
list1=list()
for x in conditions:
    list1+=x.split(sep=',')
set1=set(x for x in list1)
uniqueconditions=list(set1)

In [54]:
# show unique weather conditions
uniqueconditions

['Freezing Rain',
 'Moderate Rain Showers',
 'Drizzle',
 'Freezing Drizzle',
 'Rain Showers',
 'Cloudy',
 'Blowing Snow',
 'Snow Grains',
 'Thunderstorms',
 'Rain',
 'Ice Pellets',
 'Heavy Rain Showers',
 'Freezing Fog',
 'Moderate Rain',
 'Clear',
 'Fog',
 'Snow',
 'Mainly Clear',
 'Mostly Cloudy',
 'Snow Showers',
 'Haze',
 'Snow Pellets',
 'Moderate Snow']

In [55]:
# arranging alphabetically
uniqueconditions=sorted(uniqueconditions)

In [56]:
# test sort
uniqueconditions

['Blowing Snow',
 'Clear',
 'Cloudy',
 'Drizzle',
 'Fog',
 'Freezing Drizzle',
 'Freezing Fog',
 'Freezing Rain',
 'Haze',
 'Heavy Rain Showers',
 'Ice Pellets',
 'Mainly Clear',
 'Moderate Rain',
 'Moderate Rain Showers',
 'Moderate Snow',
 'Mostly Cloudy',
 'Rain',
 'Rain Showers',
 'Snow',
 'Snow Grains',
 'Snow Pellets',
 'Snow Showers',
 'Thunderstorms']

In [57]:
# call back original columns
columns

Index(['Date/Time', 'Temp (C)', 'Dew Point Temp (C)', 'Rel Hum (%)',
       'Wind Spd (km/h)', 'Visibility (km)', 'Stn Press (kPa)', 'Weather'],
      dtype='object')

In [58]:
# renaming columns
df.columns=['Date/Time', 'Tenp(F)', 'Temp (C)', 'Dew Point Temp (C)', 'Rel Hum (%)',
       'Wind Spd (km/h)', 'Visibility (km)', 'Stn Press (kPa)', 'Weather']

In [59]:
# checking columns
df.head()

,Date/Time,Tenp(F),Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,28.76,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,28.76,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,28.76,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,29.30,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,29.30,-1.5,-3.3,88,7,4.8,101.23,Fog

In [60]:
df.to_csv('weather_2012_new.csv',index=False)

In [61]:
monthly_avg.to_csv('monthly_avg.csv',index=False)

In [62]:
hourly_avg.to_csv('hourly_avg.csv',index=True)